server:
  port: 8084

spring:
  application:
    name: API-GATEWAY

  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: USER-SERVICE
              uri: http://localhost:8089
              predicates:
                - Path=/users/**

            - id: HOTEL-SERVICE
              uri: lb://HOTEL-SERVICE
              predicates:
                - Path=/hotel/**

            - id: RATING-SERVICE
              uri: lb://RATING-SERVICE
              predicates:
                - Path=/ratings/**

eureka:
  client:
    register-with-eureka: true
    initial-instance-info-replication-interval-seconds: 5
    registry-fetch-interval-seconds: 5
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8762/eureka

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG
