server:
  port: 8989

spring:
  application:
    name: RATING-SERVICE
  mongodb:
    host: localhost
    port: 27017
    database: Microservices

  config:
    import: optional:configserver:http://localhost:8085

#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka
